<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ilumastech.smart_attendance_system">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AttendanceHistoryActivity" />
        <activity android:name=".AttendanceSessionActivity" />
        <activity android:name=".ClassDetailsActivity" />
        <activity android:name=".MarkAttendanceActivity" />
        <activity
            android:name=".CreateClassActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SearchClassesActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="fcm_default_channel" />

        <service
            android:name=".BoosttendanceMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ilumastech.smart_attendance_system.MainActivity" />
        </activity>
        <activity android:name=".AboutActivity" />
        <activity
            android:name=".startup_activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_registration_activities.registration_activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login_registration_activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login_registration_activities.login_activities.EmailLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login_registration_activities.login_activities.MobileLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login_registration_activities.registration_activities.MobileVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StarterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>